* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    scroll-behavior: smooth;
}
body{
    background-color: var(--white);
}
body::-webkit-scrollbar{
    width: 0;
}
section{
    height: 90vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("img/bg3.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.separator{
    width: 60%;
}
.loginContainer{
    height: 25rem;
    width: 18rem;
    padding: 30px 50px 10px 50px;
    border-radius: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--black);
    box-shadow: 10px 15px 15px black;
}
.loginCol1{
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.loginCol1 label{
    color: var(--white);
    margin-bottom: 5px;
    padding-left: 0.6rem;
}
.loginCol1 input{
    height: 30px;
    border-radius: 35px;
    margin-bottom: 20px;
    padding: 0 0 0 10px;
}
.loginContainer a{
    width: 100%;
    color: var(--green);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
}
.loginContainer a:hover{
    color: var(--white);
    transition: 0.3s;
}
.loginCol2 i{
    font-size: 2rem;
    transition: 0.3s;
    margin-left: 85%;
    color: var(--white);
    cursor: pointer;
}
.loginCol2 i:hover{
    transition: 0.3s;
    color: var(--green);
}
#loginBtn{
    width: 100%;
    font-size: 1rem;
    border-radius: 0.5rem;
    padding: 0.5rem 0 0.5rem 0;
    transition: 0.3s ease;
    border: 1px solid var(--white);
    cursor: pointer;
}
#loginBtn:hover{
    transition: 0.3s ease;
    color: var(--white);
    background-color: var(--black);
}
.loginCol1 div{
    display: flex;
    align-content: center;
    justify-content: start;
}
#remember-me{
    height: 1rem;
}
#remember-me-label{
    height: 1rem;
    font-size: 0.8rem;
    margin-left: 0.5rem;
    color: var(--white);
}
#message{
    height: 2rem;
    color: red;
}
#email-verify-wrapper{
    height: 95vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(4px);
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}
#email-verify-con{
    height: 40vh;
    width: 30%;
    border-radius: 1rem;
    background-color: var(--black);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#email-verify-label{
    font-size: 2rem;
    color: var(--white);
}
#email-input, #email-password-input{
    width: 70%;
    font-size: 1rem;
    margin: 2rem 0 0.5rem 0;
    padding: 0.5rem 0.5rem 0.5rem 1rem;
}
#email-verify-input{
    width: 50%;
    font-size: 2rem;
    margin-top: 2rem;
    padding: 1rem;
    text-align: center;
}
#email-output{
    width: 75%;
    font-size: 1rem;
    font-weight: bold;
    color: crimson;
    display: flex;
    align-items: center;
    justify-content: start;
}
#email-resend-otp{
    margin: 1rem 0 1rem 0;
    color: var(--green);
}
#email-btn-grp{
    width: 100%;
    margin-top: 1.5rem;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-evenly;
}
#email-confirm-btn, #email-back-btn, #email-next-btn, #email-update-btn{
    width: 30%;
    font-size: 1rem;
    border-radius: 0.5rem;
    padding: 0.5rem 2rem 0.5rem 2rem;
    cursor: pointer;
}