	/*
	GumTree
	#72EF36 green
	#3B3141 light black
	#F0ECE6 bone white
	*/

:root{
    --white: #F0ECE6;
    --black: #3B3141;
    /* --black: #2c2e2f; */
    --gray: #423f44;
    --midgray: #585858;
    --lightgray: #A6A6A6;
    --green: #72EF36;
}
*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    scroll-behavior: smooth;
}
body::-webkit-scrollbar{
    width: 0;
}