	/*
	GumTree
	#72EF36 green
	#3B3141 light black
	#F0ECE6 bone white
	*/

/* Light Mode */
:root{
    --white: #F0ECE6;
    --white2: #faf7f2;
    --black: #3B3141;
    --black2: #493a50;
    --black3: #241d27;
    --gray: #423f44;
    --midgray: #585858;
    --lightgray: #A6A6A6;
    --green: #72EF36;
    --green2: #57a931;
    --green3: #437e28;
}
/* Dark Mode */
.dark-mode {
    --white: #3B3141;
    --black: #F0ECE6;
    --black2: #33233A;
    --gray: #423f44;
    --midgray: #585858;
    --lightgray: #A6A6A6;
    --green: #72EF36;
    --green2: #57a931;
    --green3: #437e28;
}
*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    scroll-behavior: smooth;
}
body::-webkit-scrollbar{
    width: 0;
}