*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	margin: 0;
    scroll-behavior: smooth;
}
body{
    background-color: var(--white);
}
body::-webkit-scrollbar{
    width: 0;
}
.marketCon{
    width: 100%;
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.utilityCol{
    width: 20%;
    display: flex;
    flex-direction: column;
}
.utilityCon{
    width: 100%;
    border-radius: 35px;
    padding: 50px 25px 50px 25px;
    margin-bottom: 20px;
    box-shadow: 5px 5px 10px var(--black);
    background-color: var(--black);
}
#searchBar{
    height: 40px;
    width: 95%;
    padding-left: 10px;
    border-radius: 20px;
    margin-bottom: 20px;
}
.utilityTitle{
    color: var(--white);
    margin-bottom: 10px;
}
.minMax input{
    width: 20%;
    border-radius: 35px;
    margin: 0.5rem 0 0.5rem 0;
    padding: 0.5rem 1rem 0.5rem 0.5rem;
}
.minMax label{
    font-size: 20px;
    font-weight: bold;
    color: var(--white);
}
.filters{
    margin-bottom: 20px;
}
.filters input{
    border-radius: 35px;
    margin: 0.5rem 0 0.5rem 0;
    padding: 0.1rem 0.5rem 0.1rem 0.5rem;
    color: var(--black);
    border: 1px solid transparent;
    background-color: var(--white);
    transition: 0.3s;
}
.filters input:hover{
    color: var(--green);
    border: 1px solid var(--green);
    background-color: var(--black);
    cursor: pointer;
    transition: 0.3s;
}
.ascDes input{
    cursor: pointer;
}
.ascDes label{
    color: var(--white);
    cursor: pointer;
}
.Buttons{
    width: 100%;
    padding: 30px 25px 30px 25px;
    border-radius: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.productBtn{
    height: 40px;
    width: 100%;
    font-size: 20px;
    border-radius: 35px;
    transition: 0.3s;
    margin-bottom: 10px;
    padding: 0.5rem 0 0.5rem 0;
    border: 1px solid var(--white);
    color: var(--white);
    background-color: var(--black);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.productBtn:hover{
    transition: 0.3s;
    box-shadow: 10px 5px 5px var(--black);
    margin-left: 10px;
}
.productCol{
    height: auto;
    width: 65%;
    border-radius: 35px;
    padding-bottom: 20px;
    background-color: var(--black);
    box-shadow: 5px 5px 10px var(--black);
    text-align: center;
}
.productCon{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    color: var(--black);
}
.product{
    width: 200px;
    padding: 15px 5px 15px 5px;
    border-radius: 25px;
    margin: 20px 5px 0 5px;
    transition: 0.5s ease;
    background-color: var(--black);
    position: relative;
    cursor: pointer;
}
.product:hover{
    transition: 0.5s ease;
    background-color: var(--black3);
}
.product img{
    height: 250px;
    width: 180px;
    margin-bottom: 10px;
    border-radius: 15px;
    border: 1px solid var(--white);
}
.description{
    width: 100%;
    padding: 0 10px 0 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.description label{
    color: var(--white);
}
#productName{
    font-size: 15px;
    margin-top: 5px;
}
#productSeller{
    font-size: 0.8rem;
    color: var(--white);
}
#productPrice{
    font-size: 1rem;
    margin-top: 0.5rem;
}
.product i{
    color: var(--white);
}