*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    scroll-behavior: smooth;
}
body{
    background-color: var(--white);
}
body::-webkit-scrollbar{
    width: 0;
}
body.disable-scroll {
	overflow: hidden;
}
/*Personal Section*/
.personal{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
    background-image: url("img/bg4.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
label{
	margin-bottom: 0.5rem;
	color: var(--white);
}
input, #sex{
	margin-bottom: 20px;
	border-radius: 0.5rem;
	padding:  0.2rem 1rem 0.2rem 1rem;
}
.perTitle{
	color: var(--black);
	font-size: 60px;
	margin: 80px 0 40px 0;
}
.perCon{
	width: 55%;
	border-radius: 35px;
	padding: 50px 0 50px 0;
	background-color: var(--black);
	display: flex;
	align-items: center;
	justify-content: center;
    box-shadow: 10px 15px 15px black;
}
.perCol1{
	display: flex;
	flex-direction: column;
	margin-right: 50px;
}
#inputImg, #chosenPicture{
	height: 150px;
	width: 150px;
	border-radius: 50%;
	font-size: 50px;
	margin: 2rem 0 3rem 1rem;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--white);
	border: 1px solid var(--white);
	transition: 0.3s;
}
#inputImg:hover{
	color: var(--green);
	border: 1px solid var(--green);
	transition: 0.3s;
}
.perCol2{
	display: flex;
	flex-direction: column;
}
.perSeparator{
	column-count: 2;
}
.perBox{
	display: flex;
	flex-direction: column;
}
#age{
	width: 25%;
	padding:  0.2rem 0.1rem 0.2rem 0.5rem;
}
#sex{
	width: 60%;
}
/*Account Section*/
.account{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
    background-image: url("img/bg5.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.accTitle{
	color: var(--black);
	font-size: 60px;
	margin: 50px 0 40px 0;
}
.accCon{
	width: 55%;
	border-radius: 35px;
	padding: 50px 0 50px 0;
	background-color: var(--black);
	display: flex;
	align-items: center;
	justify-content: center;
    box-shadow: 10px 15px 15px black;
}
.accCol1{
	margin-right: 20px;
	display: flex;
	flex-direction: column;
}
.accCol2{
	display: flex;
	flex-direction: column;
}
.accInput{
	width: 200px;
}
/*Verification Section*/
.verification{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
    background-image: url("img/bg6.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.verTitle{
	color: var(--black);
	font-size: 60px;
	margin: 50px 0 40px 0;
}
.verCon{
	width: 55%;
	border-radius: 35px;
	padding: 50px 0 50px 0;
	background-color: var(--black);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
    box-shadow: 10px 15px 15px black;
}
.verCol1{
	width: 70%;
	column-count: 2;
	margin-bottom: 20px;
}
.verCol2{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
#verification-button{
	padding: 0.5rem 2rem 0.5rem 2rem;
	cursor: pointer;
}
.verInput{
	width: 200px;
}
#registerBtn{
	font-size: 40px;
	border-radius: 100px;
	padding: 20px 60px 20px 60px;
	margin: 50px 0 100px 0;
	transition: 0.3s;
    border: 1px solid var(--black);
	color: var(--black);
	background-color: var(--green);
	cursor: pointer;
}
#registerBtn:hover{
    transition: 0.3s;
    box-shadow: 10px 5px 5px var(--black);
    margin-left: 10px;
}

/* 
Face Verification
*/
#face-con{
    height: 100vh;
    width: 100%;
    background-color: rgba(27, 27, 27, 0.5);
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 900;
}
.video-wrap{
    border: 1px solid black;
}
#canvas{
    width: 320;
    height: 240;
    margin-bottom: 10rem;
    background-size: cover;
}
.controller{
    margin-top: 5rem;
}
.video-wrap, .controller, #canvas{
    cursor: default;
}
.video-wrap, #video, .controller, #canvas, #snap{
    z-index: 990;
}
#snap{
    padding: 0.5rem 1rem 0.5rem 1rem;
    background-color: var(--white);
    color: var(--black);
    cursor: pointer;
}
